{% extends "listas.html" %}
{% load crispy_forms_tags %}
{% block columnas %}
<tr>
  <th scope ="col">Nro</th>
  <th scope="col">Nombre Mascota</th>
  <th scope="col">imagen</th>
  <th scope="col">Opciones</th>
</tr>
{% endblock %}


{% block rows %}
  {% for c in object_list %}
    {% if c.Nombreadoptante == user.first_name %}
      {% if c.Apellidoadoptante == user.last_name %}
    <tr>
      <td>{{c.id}}</td>
      <td>{{c.nombre}}</td>
      <td>
        <a href="{{c.imagen.url}}"><img class="rounded-circle account-img " src="{{c.imagen.url}}" width="50" ></a></td>
      <td>
        <button type="button" class="btn btn-warning btn-xs btn-flat">
          <i class="fas fa-edit"></i>
        </button>
      </td>
    </tr>
      {% endif %}
    {% endif %}  
  {% endfor %}
{% endblock %}









<!-- 
{% for RegistroMascota in lista_catalogo %}
{% if RegistroMascota.Nombreadoptante == user.first_name %}
  {% if RegistroMascota.Apellidoadoptante == user.last_name %}
    <div class="content-section">
       <img class="rounded-circle account-img" src="{{RegistroMascota.imagen.url}}" >
       <h2> {{RegistroMascota.nombre}}</h2>
       <div class="media-body">
         <ul>
       <li> ID: {{RegistroMascota.id}}</li>
       <li>Alimentación :{{RegistroMascota.alimentacion}}</li>
       <li> Actualizar alimentacion<form method="POST">   {% csrf_token %}
         {{ tipocomida }}
         <div class="form-group">
           
           <button class="btn btn-outline-info" type="summit">
             Actualizar comida
           </button>
       </div>
         </form>          
       </li>
       <li> Edad: {{RegistroMascota.edad}}</li>
       <li> Fecha de rescate: {{RegistroMascota.fecha_de_rescate|date:"d F Y P "}}</li>
       <li> Raza: {{RegistroMascota.raza}}</li>
       <li> Enfermedades: {{RegistroMascota.enfermedades}}</li>
       </ul>
       </div>
     </div>
   {% endif %}
  {% endif %}
{% endfor %} -->
