{% extends "listas.html" %}
{% load crispy_forms_tags %}
{% block columnas %}
<tr>
  <th scope ="col">Nro</th>
  <th scope="col">Nombre Mascota</th>
  <th scope="col">imagen</th>
  <th scope="col">Opciones</th>
</tr>
{% endblock %}


{% block rows %}
  {% for c in object_list %}

    <tr>
      <td>{{c.id}}</td>
      <td>{{c.nombre}}</td>
      <td>
        <a href="{{c.imagen.url}}"><img class="rounded-circle account-img " src="{{c.imagen.url}}" width="50" ></a></td>
      <td>
        <a href="{% url 'editar_mascota' c.id %}" type="button" class="btn btn-warning btn-xs btn-flat">
          <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'eliminar_mascota' c.id %}" type="button" class="btn btn-danger btn-xs btn-flat">
            <i class="fas fa-trash-alt"></i>
        </a>  
    </td>
    </tr>


  {% endfor %}
  <a href="/mascotas/registro_mascota/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Registrar mascota</a>
{% endblock %}